<html>
<head>
  <title>Discounts</title>
</head>
<body>
  <% if @total_discounts.any? %>
    <h2>Discounts:</h2>
    <table>
      <thead>
        <tr>
          <th>Discount ID</th>
          <th>Name</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <% @total_discounts.each do |discount| %>
          <tr>
            <td><%= discount["id"] %></td>
            <td><%= discount["name"] %></td>
            <td><%= discount["percentage"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No discounts</p>
  <% end %>
</body>
</html>
