<% if @total_discounts.present? %>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Discount Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @total_discounts.each do |order_id, discount_amount| %>
        <tr>
          <td><%= order_id %></td>
          <td><%= discount_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No discounts available</p>
<% end %>
