<% if @processor_fees.present? %>
  <table>
    <thead>
      <tr>
        <th>Processor</th>
        <th>Total Fee</th>
      </tr>
    </thead>
    <tbody>
      <% @processor_fees.each do |processor, fee| %>
        <tr>
          <td><%= processor %></td>
          <td><%= fee %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Fee Per Processor</p>
<% end %>
